.section
  %table
    %thead
      %tr
        %th
          = Port.human_attribute_name(:number)
        %th
          = Port.human_attribute_name(:port_type)
        %th
          = Port.human_attribute_name(:db_status)
        %th
          = I18n.t('words.action')
    %tbody
      - ports.each do |port|
        %tr
          %td
            = port.number
          %td
            = port.port_type
          %td
            = port.decorate.collate_base_status
          %td
            = link_to(I18n.t('words.delete'), admin_program_port_path(program_id: port.program_id, id: port.id),
            method: :delete, data: {confirm: I18n.t('forms.activeadmin.confirm.delete_port_sure',
            port: port.number, program: port.decorate.program_name)})


